a{color: inherit;}
h1{font-size: 36px;color: red; background-color: rgb(123, 172, 214);text-align: center;}
.home{font-size: 22px;color: yellow;background-color: black;font-family: 'Lucida Console',Monaco, monospace}
img{height: 300px;width: auto;}
.subheading{font-size: 30px; font-weight: 800;color: brown;}
body{font-family:Calibri, 'Trebuchet MS', sans-serif;color: rgb(0, 0, 0);}
.content{font-size: 30px; font-weight: 800;color: burlywood;}
